{% extends 'base.html' %} 

{% block content %}
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-warning">Save</button>
</form>
<br>
<form method="POST" action="{% url 'completetodo' todo.id %}">
{% csrf_token %}
<button type="submit" class="btn btn-success" >Complete</button>
</form>
<br>
<form method="POST" action="{% url 'deletetodo' todo.id %}">
{% csrf_token %}
<button type="submit" class="btn btn-danger">Delete</button>
</form>
</div>
</div>
{% endblock content %}